@model user_vm

<div class="row">
    @*<h1>share</h1>*@
    <h1 class="col-md-8 admin-box-title"> ویرایش نقش @Model.user.fullName</h1>
    <div class="col-md-4 op-buttns top">
        <a btntype="back" href="@ViewData["ReturnUrl"]">بازگشت </a>
    </div>
</div>

<form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-action="Role" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="user.id" />
    <div class="admin-box">

        <table class="table detail table-striped">
            <tr>
                <td>@Html.DisplayNameFor(model => model.user.fullName) :</td>
                <td>@Html.DisplayFor(model => model.user.fullName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.user.actualUserName) :</td>
                <td>@Html.DisplayFor(model => model.user.actualUserName)</td>
            </tr>
            <tr>
                <td>نقش</td>
                <td class="ltr">
                    <select id="roles" asp-for="selectedRole" class="form-control" dir="rtl" asp-items="@Model.roles">
                        <option value="">بدون والد</option>
                    </select>
                    <script>
                        $(document).ready(function () {
                            $("#roles").select2({
                                placeholder: "انتخاب نقش",
                                allowClear: true
                            });
                        });
                    </script>
                </td>
            </tr>
        </table>
    </div>
    <div class="op-buttns bottom">
        <a btntype="cancel" href="@ViewData["ReturnUrl"]">لغو</a>
        <input btntype="save" type="submit" value="ذخیره" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
