@model IEnumerable<boxCategory>
<div id="@ViewData["componentName"]" class="row no-gutters">
    @if ((bool)ViewData["isShowCategoryTitle"])
    {
        <div class="title2 boxGroupCategory-title col-lg-12">
            <span>
                @ViewData["categoryTitle"]
            </span>
        </div>

    }
    @foreach (var boxCategory in Model)
    {
        <div class="@boxCategory.cssClass" >
            <div class="title3 boxcategory-title">
                <span>
                    @boxCategory.title
                </span>
            </div>
            <div class="row">
                @foreach (var box in boxCategory.boxes)
                {
                    <div class="box @box.cssClass">
                        <a href="@box.link">
                            @if ((bool)ViewData["isShowImage"])
                            {
                                <div class="image">
                                    <img src="@boxCategory.image" alt="@boxCategory.title" title="@boxCategory.title" />
                                </div>
                            }

                            <div class="title">
                                @box.title
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
</div>