@model dataType

<div class="admin-box">
    <table class="table detail table-striped">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.orderIndex)
            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td class="ltr">
                    <input asp-for="orderIndex" class="form-control" />

                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(model => model.orderIndex)

                </td>
            }
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.active)

            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td>
                    <input asp-for="active" />

                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(model => model.active)

                </td>
            }
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.title)

            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td>
                    <input asp-for="title" class="form-control" />

                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(model => model.title)
                </td>
            }
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.father):

            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td>
                    <select id="fatherId" asp-for="fatherId" class="form-control" dir="rtl" asp-items="ViewBag.dataTypes">
                        <option value="">بدون والد</option>
                    </select>
                    <script>
                        $(document).ready(function () {
                            $("#fatherId").select2({
                                placeholder: "انتخاب والد",
                                allowClear: true
                            });
                        });
                    </script>
                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(model => model.father.title)
                </td>
            }
        </tr>

    </table>
</div>



