@model box

@if (ViewBag.type == "edit")
{
    <input type="hidden" asp-for="boxCategoryId" />
}
else if (ViewBag.type == "create")
{
    <input type="hidden" asp-for="boxCategoryId" value="@ViewData["ParentId"]" />
}
<div class="admin-box">
    <table class="table detail table-striped">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.orderIndex)
            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td class="ltr">
                    <input asp-for="orderIndex" class="form-control" />

                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(model => model.orderIndex)

                </td>
            }
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.active)

            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td>
                    <input asp-for="active" />

                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(model => model.active)

                </td>
            }
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.title)

            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td>
                    <input asp-for="title" class="form-control" />

                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(model => model.title)

                </td>
            }
        </tr>
        @if (ViewBag.type == "create" || ViewBag.type == "edit")
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.image)

                </td>

                <td>
                    <script>
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#preview')
                                        .attr('src', e.target.result)
                                };

                                reader.readAsDataURL(input.files[0]);
                            }
                        }
                    </script>

                    <img id="preview" src="@Model.image" asp-append-version="true" rowid="@Model.id" imagesrc="@Model.image" />
                    @if (ViewBag.type == "edit")
    {
                <a href="@Model.image" download>دانلود</a>
}

                </td>


            </tr>
        }
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.content)

            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td>
                    <textarea asp-for="content" class="editor  form-control"></textarea>

                </td>
            }
            else
            {

                <td>
                    @Html.Raw(Model.content)

                </td>
            }
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.link)

            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td class="ltr">
                    <input asp-for="link" class="form-control" />

                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(model => model.link)

                </td>
            }
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.cssClass)

            </td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td class="ltr">
                    <input asp-for="cssClass" class="form-control" />

                </td>
            }
            else
            {

                <td>
                    @Html.DisplayFor(model => model.cssClass)

                </td>
            }
        </tr>
    </table>
</div>



