@model fieldSet
@{ViewBag.type = "details";}

<div class="row">
    <h1 class="col-md-8 admin-box-title">
       فیلدست @Model.title
    </h1>
    <div class="col-md-4 op-buttns">
        <a btntype="back" asp-controller="Step" asp-action="Details" asp-route-id="@Model.stepId">بازگشت </a>
        <a btntype="edit" asp-action="Edit" asp-route-id="@Model.id" asp-route-returnurl="/Admin/FieldSet/Details/@Model.id">ویرایش</a>
        <a btntype="delete" asp-action="Delete" asp-route-id="@Model.id" asp-route-returnurl="/Admin/Step/Details/@Model.stepId">حذف</a>
    </div>
</div>

@Html.Partial("Details_partial", Model)

<div class="row">
    <h1 class="col-md-9 admin-box-title"> لیست فیلدهای فیلدست @Model.title</h1>
    <div class="col-md-3 op-buttns">
        <a btntype="Create" asp-controller="Field" asp-action="Create" asp-route-fieldSetId="@Model.id" asp-route-returnurl="/Admin/FieldSet/Details/@Model.id">ایجاد فیلد جدید</a>
    </div>
</div>

<div class="admin-box">
    <table class="table table-striped">
        <tbody>
            @{int r = 0;}
            @foreach (var item in ViewBag.fields)
            {
                r++;

                field field = item as field;
                <tr>

                    <td>
                        <a asp-controller="field" asp-action="Edit" asp-route-id="@item.id" asp-route-returnurl="/Admin/FieldSet/Details/@Model.id">@r - @Html.DisplayFor(modelItem => field.title)</a>
                    </td>

                    <td  class="ltr">
                        @Html.DisplayFor(modelItem => field.type)
                    </td>
                    <td class="op-buttns">
                        <a btntype="edit" asp-controller="field" asp-action="Edit" asp-route-id="@item.id" asp-route-returnurl="/Admin/FieldSet/Details/@Model.id">ویرایش</a>
                        <a btntype="delete" asp-controller="field" asp-action="Delete" asp-route-id="@item.id" asp-route-returnurl="/Admin/FieldSet/Details/@Model.id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>