@model term
@{ViewBag.type = "details";}
<div class="row">
    <h1 class="col-md-8 admin-box-title">
        دسته @Model.title
    </h1>
    <div class="col-md-4 op-buttns">
        <a btntype="back" asp-action="Index">بازگشت </a>
        <a btntype="edit" asp-action="Edit" asp-route-id="@Model.id" asp-route-returnurl="/Admin/Term/Details/@Model.id">ویرایش</a>
        <a btntype="delete" asp-action="Delete" asp-route-id="@Model.id" asp-route-returnurl="/Admin/Term/Index">حذف</a>
    </div>
</div>

@Html.Partial("Details_partial", Model)

<div class="row">
    <h1 class="col-md-4 admin-box-title">لیست کلاس های دسته @Model.title</h1>
    <div class="col-md-5 admin-box-title">
        <form>
            <p>
                فیلتر: <input type="text" value="@ViewData["searchString"]" name="SearchString">
                <input type="submit" value="اعمال" />
            </p>
        </form>
    </div>
    <div class="col-md-3 op-buttns">
        <a btntype="Create" asp-controller="Category" asp-action="Create" asp-route-termId="@Model.id" asp-route-returnurl="/Admin/Term/Details/@Model.id">ایجاد کلاس جدید</a>
    </div>
</div>

<div class="admin-box">
    <table class="table table-striped">

        <tbody>
            @{int r = (ViewBag.categories.pagingData.currentPage - 1) * ViewBag.categories.pagingData.itemsPerPage;}
            @foreach (var item in ViewBag.categories.items)
            {
                r++;

                category category = item as category;
                <tr>

                    <td>
                        <a asp-controller="Category" asp-action="Details" asp-route-id="@category.id">@r - @Html.DisplayFor(modelItem => category.title)</a>
                    </td>
                    <td class="op-buttns">
                        <a btntype="edit" asp-controller="Category" asp-action="Edit" asp-route-id="@category.id" asp-route-returnurl="/Admin/Term/Details/@Model.id">ویرایش </a>
                        <a btntype="delete" asp-controller="Category" asp-action="Delete" asp-route-id="@category.id" asp-route-returnurl="/Admin/Term/Details/@Model.id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<nav page-model="@ViewBag.categories.pagingData" page-action="Details" page-contoller="Term" item-id="@Model.id" search-string="@ViewData["searchString"]"></nav>