@model boxCategory
@{ViewBag.type = "details";}
<div class="row">
    <h1 class="col-md-8 admin-box-title">
        @Model.title
    </h1>
    <div class="col-md-4 op-buttns">
        <a btntype="back" asp-action="Index">بازگشت </a>
        <a btntype="edit" asp-action="Edit" asp-route-id="@Model.id" asp-route-returnurl="/Admin/BoxCategory/Details/@Model.id">ویرایش</a>
        <a btntype="delete" asp-action="Delete" asp-route-id="@Model.id" asp-route-returnurl="/Admin/BoxCategory/Index">حذف</a>
    </div>
</div>
@Html.Partial("Details_partial", Model)

<div class="row">
    <h1 class="col-md-4 admin-box-title">لیست باکس های دسته @Model.title</h1>
    <div class="col-md-5 admin-box-title">
        <form>
            <p>
                فیلتر: <input type="text" value="@ViewData["searchString"]" name="SearchString">
                <input type="submit" value="اعمال" />
            </p>
        </form>
    </div>
    <div class="col-md-3 op-buttns">
        <a btntype="Create" asp-controller="Box" asp-action="Create" asp-route-boxCategoryId="@Model.id" asp-route-returnurl="/Admin/BoxCategory/Details/@Model.id">ایجاد باکس جدید</a>
    </div>
</div>
<div class="admin-box">
    <table class="table table-striped">
        <tbody>
            @{int r = (ViewBag.boxes.pagingData.currentPage - 1) * ViewBag.boxes.pagingData.itemsPerPage; }
            @foreach (var item in ViewBag.boxes.items)
            {
                r++;

                box box = item as box;
                <tr>
                    <td>
                        <a asp-controller="Box" asp-action="Edit" asp-route-id="@box.id" asp-route-returnurl="/Admin/BoxCategory/Details/@Model.id">@r - @Html.DisplayFor(modelItem => box.title)</a>
                    </td>
                    <td class="op-buttns">
                        <a btntype="edit" asp-controller="Box" asp-action="Edit" asp-route-id="@box.id" asp-route-returnurl="/Admin/BoxCategory/Details/@Model.id">ویرایش</a>
                        <a btntype="delete" asp-controller="Box" asp-action="Delete" asp-route-id="@box.id" asp-route-returnurl="/Admin/BoxCategory/Details/@Model.id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<nav page-model="@ViewBag.boxes.pagingData" page-action="Details" page-contoller="boxCategory" item-id="@Model.id" search-string="@ViewData["searchString"]"></nav>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
