@model postCategory
<div class="admin-box">
    <table class="table detail table-striped">
        <tr>
            <td>@Html.DisplayNameFor(model => model.orderIndex) :</td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td><input asp-for="orderIndex" class="form-control" /></td>
            }
            else
            {
                <td>@Html.DisplayFor(model => model.orderIndex)</td>
            }
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.active) :</td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td><input asp-for="active" /></td>
            }
            else
            {
                <td>@Html.DisplayFor(model => model.active)</td>
            }
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.title) :</td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td><input asp-for="title" class="form-control" /></td>
            }
            else
            {
                <td> @Html.DisplayFor(model => model.title)</td>
            }
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.image)  :</td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td><input asp-for="image" class="form-control" /></td>
            }
            else
            {
                <td>@Html.DisplayFor(model => model.image)</td>
            }
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.father)  :</td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td><input asp-for="fatherId" class="form-control" /></td>

            }
            else
            {
                <td> @Html.DisplayFor(model => model.fatherId)</td>
            }
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.cssClass) :</td>
            @if (ViewBag.type == "create" || ViewBag.type == "edit")
            {
                <td><input asp-for="cssClass" class="form-control" /></td>
            }
            else
            {
                <td>@Html.DisplayFor(model => model.cssClass) </td>
            }
        </tr>
    </table>
</div>