@model category
@{ViewBag.type = "details";}

<div class="row">
    <h1 class="col-md-8 admin-box-title">
          کلاس @Model.title
    </h1>
    <div class="col-md-4 op-buttns">
        <a btntype="back" asp-controller="Term" asp-action="Details" asp-route-id="@Model.termId">بازگشت </a>
        <a btntype="edit" asp-action="Edit" asp-route-id="@Model.id"  asp-route-returnurl="/Admin/Category/Details/@Model.id">ویرایش</a>
        <a btntype="delete" asp-action="Delete" asp-route-id="@Model.id"  asp-route-returnurl="/Admin/Category/Index">حذف</a>
    </div>
</div>


@Html.Partial("Details_partial", Model)
<div class="row">
    <h1 class="col-md-4 admin-box-title">لیست خاصیت های کلاس @Model.title</h1>
    <div class="col-md-5 admin-box-title">
        <form>
            <p>
                فیلتر: <input type="text" value="@ViewData["searchString"]" name="SearchString">
                <input type="submit" value="اعمال" />
            </p>
        </form>
    </div>

    <div class="col-md-3 op-buttns">
        <a btntype="Create" asp-controller="Attribute" asp-action="Create" asp-route-categoryId="@Model.id" asp-route-returnurl="/Admin/Category/Details/@Model.id">ایجاد خاصیت جدید</a>
    </div>
</div>

<div class="admin-box">
    <table class="table table-striped">
        <tbody>
            @{int r = (ViewBag.attributes.pagingData.currentPage - 1) * ViewBag.attributes.pagingData.itemsPerPage;}
            @foreach (var item in ViewBag.attributes.items)
            {
                r++;

                attribute attribute  = item as attribute;
                <tr>
                    <td>
                        <a asp-controller="Attribute" asp-action="Edit" asp-route-id="@attribute.id"  asp-route-returnurl="/Admin/Category/Details/@Model.id">@r - @Html.DisplayFor(modelItem => attribute.title) (@Html.DisplayFor(modelItem => attribute.name))</a>
                    </td>

                    <td class="op-buttns">
                        <a btntype="edit" asp-controller="Attribute" asp-action="Edit" asp-route-id="@attribute.id"  asp-route-returnurl="/Admin/Category/Details/@Model.id">ویرایش</a>
                        <a btntype="delete" asp-controller="Attribute" asp-action="Delete" asp-route-id="@attribute.id"  asp-route-returnurl="/Admin/Category/Details/@Model.id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav page-model="@ViewBag.attributes.pagingData" page-action="Details" page-contoller="Category" item-id="@Model.id" search-string="@ViewData["searchString"]"></nav>